* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightslategray;
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 3em;
}

.em {
  background-color: lightpink;
  width: 45%;
  font-size: 1em;
}

.container .em h1 {
  font-size: 3em;
}

.container .em p {
  font-size: 2em;
  padding: 1em;
}

.rem {
  background-color: lightskyblue;
  width: 45%;
}

.container .rem h1 {
  font-size: 3em;
}

.container .rem p {
  font-size: 2em;
  padding: 1em;
}

.hero {
  background-color: #23424a;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero .btn button {
  text-transform: uppercase;
}

.hero .btn-sm button {
  background-color: lightsalmon;
  font-size: 1rem;
  padding: 1em;
}

.hero .btn-md button {
  background-color: lightgreen;
  font-size: 2rem;
  padding: 1em;
}

.hero .btn-lg button {
  background-color: rgb(203, 89, 106);
  font-size: 4rem;
  padding: 1em;
}
